body {
  font-family: Arial;
  margin: 50px;
}

a {
  background: #febe01;
  color: #332100;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  display: inline-block;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

.item {
  background: #111;
  padding: 30px;
  margin: 20px;
  border-radius: 4px;
  color: #fff;
}

.item h2 {
  color: white;
  margin: 0px;
}

.item span {
  color: #febe01;
}

p {
  color: #b2b2b2;
}
