* {
  font-family: Arial;
  margin: 0px;
  padding: 0px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #111;
  background: #febe01;
  padding: 5px 5px;
  border-radius: 4px;
}

h1 {
  text-align: center;
}

.item {
  background: #111;
}

.item h2 {
  color: white;
}

.item span {
  color: #febe01;
}

p {
  color: #b2b2b2;
}
